<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47513412219-s7h2uea77hgadicf5kti86rl6aifobg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47513412219-s7h2uea77hgadicf5kti86rl6aifobg9</string>
	<key>API_KEY</key>
	<string>AIzaSyDB9YQAodicauPpUSepY0jermYnocJvtMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>47513412219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tdipietro87.cueconnectfirebaseV2</string>
	<key>PROJECT_ID</key>
	<string>cueconnectfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>cueconnectfirebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47513412219:ios:41f2f725873322b4e038de</string>
</dict>
</plist>